/* For Testing */
/*body {
    background-color: blue;
}
*/

/*rule set #1*/
#number-one{
    color: red;
}

/*rule-set #2*/
#number-two{
    color: green;
}

/*rule-set #3 */
.first-class {
    color: green
}

/*rule-set #4 */
.second_class {
    font-size:  24px;
}