.wrapper{
    margin: 5px;
}

h1{
    text-align: cnenter;
}

.example1{
    width: 50%;
    height: 200px;
    background-color: cornflowerblue;
}

.example2 img{
    width: 400px;
    height: 400px;
}